@import "./font";

$main-gradient: linear-gradient(0deg, #f05754 0%, #f4864d 49.5%, #fbc945 100%);
$radial-gradient: radial-gradient(ellipse at 50% 150%, #613b33, #1a1a1a);
$content-width: 1000px;

* {
  box-sizing: border-box;
  font-family: "Rubik";
  text-decoration: none;
  font-size: 1vmin;
}

html,
body {
  margin: 0;
  background: #e2e2e2;
}
.row {
  display: flex;
  align-items: center;
}
.col {
  @extend .row;
  flex-direction: column;
  align-items: stretch;
}
.j-center {
  justify-content: center;
}
.hide {
  display: none;
}

.standard_nav {
  gap: 5px;
  margin-bottom: 5em;
  overflow: auto;
  align-items: stretch;
  .custom_tab {
    text-align: center;
    min-width: 10em;
    justify-content: center;
    cursor: pointer;
    @extend .button_2;
  }
  .custom_tab.tab_active {
    @extend .button_1;
  }
}

.red {
  color: red;
}

input,
select,
textarea {
  font-size: 3em;
  padding: 1em;
  border: solid #c4c4c4 1px;
  border-radius: 0.5em;
  background-color: #f8f8f8;
  color: #5f5f5f;
}
input {
  &:read-only {
    background-color: #ececec;
  }
}
select {
  height: 3.5em;
}

.copyable_input {
  position: relative;
  .copy_btn {
    position: absolute;
    right: 10px;
    top: 50%;
    color: grey;
    font-size: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.button {
  @extend .row;
  font-size: 3em;
  border-radius: 0.5em;
  padding: 0.75em 1em;
  color: white;
  gap: 0.3em;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  span {
    font-size: 1em;
  }
  img {
    width: 3.5em;
  }
  &::after {
    content: "";
    position: absolute;
    height: 300%;
    top: -100%;
    left: 0;
    width: 40%;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.5),
      transparent
    );
    transform: rotate(45deg);
    transition: left 1s;
    left: -200%;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
      left: 200%;
    }
  }
}

.button_1 {
  @extend .button;
  border: 0.15em inset #f15f54;
  background: $main-gradient;
}

.play_btn {
  @extend .button_1;
  justify-content: center;
}

.button_2 {
  @extend .button;
  border: 0.15em inset #ebebeb;
  background: var(
    --secondary-button,
    linear-gradient(0deg, #848484 0%, #ededed 100%)
  );
}

.gradient_text {
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 8em;
}

.mainnav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #1a1a1a;
  .nav_item {
    flex: 1;
    align-items: center;
    padding: 3em;
    filter: brightness(0) invert(1);
    opacity: 0.3;
    position: relative;

    img {
      width: 8em;
    }
    span {
      font-size: 3em;
      color: white;
    }
  }
  .nav_active {
    filter: none;
    opacity: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.5em;
      left: 0;
      width: 100%;
      background: $main-gradient;
    }
  }
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: translateX(100%);
  transition: 0.2s;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    opacity: 0;
  }
  aside {
    align-self: stretch;
    margin-left: auto;
    z-index: 2;
    position: relative;
    background-color: #1a1a1a;
    background-image: url("../Resources/Images/bg/sidemenu_bg.jpg");
    background-position: center;
    background-size: cover;
    align-items: stretch;
    gap: 1em;
    padding: 5em;

    .top {
      width: 100%;
      margin-bottom: 3em;
      img {
        width: 20em;
      }
      .close_sidenav {
        margin-left: auto;
        color: white;
        font-size: 5em;
      }
    }

    hr {
      border: solid 1px rgba(255, 255, 255, 0.1);
      margin: 1em;
      width: 100%;
    }
    .nav_item {
      padding: 2em;
      gap: 2em;
      width: 60em;
      color: white;
      border-radius: 1em;
      span {
        font-size: 3.5em;
      }
      img {
        width: 25px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    a.extra_link {
      padding: 0.5em 1em;
      font-size: 3.5em;
      color: #5f5f5f;
      &:hover {
        color: #f4864d;
      }
    }
    .nav_active {
      background: $main-gradient;
    }

    .language {
      margin-top: auto;
      position: relative;
      z-index: 10;
      align-self: flex-end;
      .language_picker {
        background: black;
        padding: 1em;
        border-radius: 10em;
        cursor: pointer;
        img {
          width: 6em;
          margin-right: 1em;
        }
        span {
          color: #595d6b;
          font-size: 7em;
        }
      }
      .language_dropdown {
        position: absolute;
        bottom: 100%;
        right: 0;
        margin-bottom: 2em;
        background-color: #1a1a1a;
        border: solid 1px #505050;
        border-radius: 2em;
        padding: 1em;
        align-items: stretch;
        gap: 1em;
        display: none;
        .language_item {
          padding: 1em;
          gap: 2em;
          min-width: 30em;
          color: #5f5f5f;
          img {
            width: 5em;
          }
          span {
            font-size: 3.5em;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 1em;
          }
        }
      }
    }
    .language_show {
      .language_dropdown {
        display: flex;
      }
    }
  }
}

.sidenav_active {
  transform: none;
  &::before {
    content: "";
    transition: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
  }
}

header {
  background-image: url("../Resources/Images/bg/header_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 2em;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;

  .logo {
    align-self: center;
    width: 20em;
  }
  .right_menu {
    gap: 1em;
    margin-left: auto;
  }
  .menu_btn {
    width: 7em;
    margin-left: 2em;
  }
}

.mybalance {
  color: #595d6b;
  gap: 5px;
  .refresh_btn {
    cursor: pointer;
  }
  .row {
    gap: 3px;
  }
  .currency {
    background-color: #595d6b;
    color: black;
    border-radius: 999px;
    width: 20px;
    height: 20px;
    font-size: 8px;
    display: grid;
    place-items: center;
  }
  .balance {
    color: white;
    font-size: 13px;
  }
}

.owl-carousel {
  overflow-x: clip;
  img {
    width: auto !important;
  }
  .owl-stage-outer {
    overflow: visible !important;
  }
}

main {
  padding: 2em;
  .home_banner {
    width: 100%;
    margin-top: 6em;
    .swiper-wrapper {
      width: 100%;
      .swiper-slide {
        width: 100%;
        border-radius: 1em;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .slider_control {
      justify-content: center;
      margin-top: 2em;
      .swiper-pagination {
        position: static;
        width: auto;
        margin: 0 1em;
        .swiper-pagination-bullet {
          opacity: 1;
          width: 4em;
          height: 4em;
          display: flex;
          background: #e2e2e2;
          border-radius: 10em;
          border: solid 0.2em #595d6b;
          &::after {
            content: "";
            height: 2.5em;
            width: 2.5em;
            margin: auto;
            border-radius: 3em;
            background: #595d6b;
          }
        }
        .swiper-pagination-bullet-active {
          border: solid 0.2em #f05754;
          &::after {
            background: $main-gradient;
          }
        }
      }
    }
  }

  .main_section {
    margin-top: 4em;
    .section_title {
      img {
        width: 10em;
      }
      strong {
        font-size: 5em;
      }
    }
  }
}

.section_bg {
  background-color: white;
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 0;
  position: relative;
  left: -2em;
  width: calc(100% + 4em);
  padding: 2em;
  padding-bottom: 4em;
  margin-bottom: -2em;
}
.sports_section {
  background-image: url("./Images/bg/sports_bg.jpg");
  @extend .section_bg;
}
.casino_section {
  background-image: url("./Images/bg/casino_bg.jpg");
  @extend .section_bg;
}
.slot_section {
  background-image: url("./Images/bg/slot_bg.jpg");
  @extend .section_bg;
}
.racebook_section {
  background-image: url("./Images/bg/racebook_bg.jpg");
  @extend .section_bg;
}
.fishing_section {
  background-image: url("./Images/bg/fishing_bg.jpg");
  @extend .section_bg;
}
.lottery_section {
  background-image: url("./Images/bg/lottery_bg.jpg");
  @extend .section_bg;
}

.winner_list {
  .th {
    font-size: 2.5em;
    flex: 1;
    font-weight: bold;
    padding: 1em;
    white-space: nowrap;
    text-align: center;

    &:last-child {
      text-align: right;
    }
  }
  .td {
    font-size: 3em;
    flex: 1;
    padding: 1em;
    text-align: center;
    &:last-child {
      text-align: right;
    }
  }
  .tbody {
    max-height: 50em;
    overflow: auto;
    .tr {
      border-radius: 1em;
      &:nth-child(odd) {
        background: $radial-gradient;
        color: white;
      }
    }
  }
}

.card_list {
  gap: 5em;
}

.card {
  background: #1e1c1b;
  position: relative;
  align-items: flex-start;
  padding: 3em;
  position: relative;
  height: 35em;
  overflow-x: clip;
  & > * {
    z-index: 2;
  }
  img {
    width: auto !important;
  }
  .product_logo {
    height: 8em;
    // margin-bottom: 10px;
  }
  strong {
    color: #fab848;
    font-size: 3em;
  }
  p {
    color: white;
    font-size: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-align: justify;
    width: 50%;
  }

  .timer {
    gap: 1em;
    .col {
      align-items: center;
      .button_2 {
        width: 4em;
        justify-content: center;
      }
      span {
        font-size: 2em;
        color: white;
      }
    }
  }

  .play_btn {
    justify-content: center;
    margin-top: auto;
  }

  .model {
    height: 125%;
    width: auto !important;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.event_card {
  background: $radial-gradient;
  background-image: url("../Resources/Images/bg/event_card.jpg");
  background-size: cover;
  padding: 3em;
  padding-top: 0;
  strong {
    color: #fab848;
    font-size: 3em;
    height: 2em;
  }
  p {
    color: #727070;
    font-size: 3em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  & > img {
    align-self: center;
    width: 80% !important;
    margin: -2em 0;
  }
  .play_btn {
    margin-top: auto;
  }
}
.event_item {
  height: 42em;

  .play_btn {
    padding: 1em;
  }
}

.match {
  background-image: url("../Resources/Images/bg/match_bg.jpg");
  background-size: cover;
  padding: 2em;
  border-radius: 2em;
  .content {
    margin: 2em 0 4em;
    .team {
      align-items: center;
      flex: 1;
      img {
        width: 20em !important;
      }
    }
  }
}

.game_lobby {
  position: relative;
  align-items: stretch;
  gap: 2em;
  .lobby_nav {
    align-items: stretch;
    flex-direction: column;
    width: 20em;
    gap: 1em;
    .nav_item {
      justify-content: center;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      color: white;
      width: 100%;
      min-height: 5em;
      padding: 2em;
      span {
        font-size: 3.5em;
        padding: 1em 0;
        white-space: nowrap;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .nav_item.nav_active {
      background: $main-gradient;
      img {
        mix-blend-mode: normal;
        width: 100%;
        height: auto;
      }
    }
  }
  .lobby_wrapper {
    flex: 1;
  }
  .lobby_subnav {
    gap: 3em;
    padding: 2em;
    .lobby_subnav_item {
      cursor: pointer;
      font-size: 3.5em;
      &:hover {
        text-decoration: underline;
      }
    }
    .lobby_subnav_active {
      @extend .gradient_text;
      font-weight: bold;
    }
  }
  .lobby {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    align-content: flex-start;
    .game {
      position: relative;
      border-radius: 1em;
      overflow: hidden;
      .badges {
        position: absolute;
        right: 1em;
        top: 1em;
        gap: 1em;
        .badge {
          color: white;
          padding: 0.3em 0.5em;
          border-radius: 0.2em;
          font-size: 3em;
        }
      }
      .thumbnail {
        width: 100%;
      }
      .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 10px;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: 0.3s;
        z-index: 2;
        span {
          font-size: 3em;
        }
        .play_btn {
          font-size: 1.2em;
        }
      }
      &:hover {
        .hover {
          opacity: 1;
        }
      }
    }
  }
}

.vip_banner {
  position: relative;
  left: -2em;
  width: calc(100% + 4em);
}
.vip_content {
  padding: 1em;
  align-items: stretch;
  position: relative;
  .th {
    font-size: 4em;
    height: 5em;
    display: flex;
    img {
      height: 100%;
      margin: auto;
    }
  }
  .td {
    height: 3em;
    display: flex;
    align-items: center;
    font-size: 3em;
  }
  .thead {
    padding: 2em 0;
    margin-right: 5em;
    .th {
      color: #f26f51;
      font-weight: bold;
      align-items: flex-end;
    }
  }
  .vip_item {
    flex: 1;
    align-items: center;
    background: $radial-gradient;
    padding: 1em;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    display: none;

    &::after {
      content: "";
      background: linear-gradient(#754a72, transparent);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -20%);
      width: 50em;
      height: 50em;
      opacity: 0.5;
    }
    & > * {
      z-index: 2;
    }
    .td {
      color: white;
    }
    &:nth-of-type(3) {
      &::after {
        background: linear-gradient(#ed7b55, transparent);
      }
    }
    &:nth-of-type(4) {
      &::after {
        background: linear-gradient(#ea890f, transparent);
      }
    }
    &:nth-of-type(5) {
      &::after {
        background: linear-gradient(#e9edf5, transparent);
      }
    }
    &:nth-of-type(6) {
      &::after {
        background: linear-gradient(#713fc8, transparent);
      }
    }
  }
  .vip_active {
    display: flex;
  }
}
.vip_nav {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  gap: 2em;
}

.footer {
  background-image: url("../Resources/Images/bg/footer_bg.jpg");
  background-size: cover;
  background-position: top;
  padding: 3em;
  padding-bottom: 20em;
  .footer_logo {
    width: 25em;
  }
  h3 {
    color: #5f5f5f;
    margin: 0;
    font-size: 4em;
  }
  .text {
    color: #5f5f5f;
    margin-top: 20px;
    p {
      font-size: 3em;
    }
  }
  .logos {
    strong {
      color: #5f5f5f;
    }
    .row {
      flex-wrap: wrap;
      img {
        height: 8em;
        filter: saturate(0);
        &:hover {
          filter: none;
        }
      }
    }
  }
  nav {
    margin-top: 5em;
    a {
      padding: 1em;
      font-size: 3em;
      color: #5f5f5f;
      border-bottom: solid 0.1em #313131;
      text-align: center;

      &:last-child {
        border: none;
      }
    }
  }
}

.about_content {
  p {
    font-size: 3em;
    margin: 0;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: grid;
  place-items: center;
  display: none;
}
.auth_modal {
  .modal_content {
    align-items: stretch;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;

    .banner {
      width: 100%;
      object-fit: cover;
    }
    .auth_content {
      width: 100%;
      .auth_tab {
        background-color: #1e1e1e;
        padding: 2em;
        gap: 1em;
        .button_2 {
          min-width: 10em;
          padding: 1em;
        }
        .close_modal {
          color: white;
          margin-left: auto;
        }
        .tab_active {
          @extend .button_1;
        }
      }
      form {
        padding: 3em;
        gap: 2em;
        input {
          width: 100%;
        }
      }
    }
  }
}
